<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Rent</title>
    <link rel="stylesheet" th:href="@{/myRents.css}">
</head>
<body>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <p th:text="${rentMessage}"></p>

    <th:block th:each="rent : ${userRents}">
        <div>
            <p th:text="${rent.startDate}"></p>
            <p th:text="${rent.bookId}"></p>
            <p th:text="${rent.active}"></p>
        </div>
    </th:block>
</div>
</body>
</html>